<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Records</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<p><center><b>STUDENT INFO</b></center></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
        <th>Age</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>Reamrks</th>
        <th>createdAt</th>
        <th>updatedAt</th>

    </tr>
    </thead>
    <tbody>
{% for stud1 in mylist %}
    <tr>
         <td>{{ stud1.id }}</td>&nbsp;&nbsp;
        <td>{{ stud1.First_Name }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Last_Name }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Email }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Age }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Mobile }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Gender }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Remarks }}</td>&nbsp;&nbsp;
        <td>{{ stud1.created_at }}</td>&nbsp;&nbsp;
        <td>{{ stud1.updated_at }}</td>&nbsp;&nbsp;
        <td>

        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/First/">First Page</a></center>
</body>
</html>